.section {
    padding-top: 94px;
    padding-bottom: 94px;
    border-bottom: 1px solid #ececec;

    

&-feature {
    display: flex;
        flex-wrap: nowrap;
        justify-content: center;



.section-list+.section-list {
     margin-left: 30px;
         }
    }

&-items {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
}



&-list {

&:before {
        content: "";
        display: block;
        height: 140px;
        background-color: #f5f4fa;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
        

    }
    
}


&-title {
    color: $color-heading;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    margin-top: 30px;
    margin-bottom: 0;
}

&-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $color-auxiliary;

    margin-top: 10px;
    margin-bottom: 0;
}
}


