.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

.hero-title {
 margin-top: 0;
 margin-bottom: 30px;
color: #ffffff;
font-weight: 900;
font-size: 44px;
 line-height: 1.36;
 letter-spacing: 0.06em;
 margin-top: 0;
 margin-bottom: 30px;
     }

 .button-studio {
     padding: 10px 32px;
     border-radius: 4px;
     border: 1px solid transparent;
     text-align: center;

     color: #ffffff;
     background-color: $color-hover;

     font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
     letter-spacing: 00.06em;
     display: inline-block;
     border-color: transparent;
     cursor: pointer;
 }
}

.overlay {
    max-width: 1600px;
    height: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/Header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

