.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

h1 {
     display: block;
     text-align: center;
     margin-bottom: 50px;
    
     color: black;
    
     opacity: 0;
        }

&-button {
     display: flex;
     justify-content: center;
     text-align: center; 
    }

.button-list {
    color: $color-heading;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    border: none;
    padding: 6px 22px 6px 22px;
    margin-right: 8px;
    background-color: #f5f4fa;
    border-radius: 4px;
    height: 38px;

    transition-duration: $duration;
    transition-timing-function: $transmition-cubic;

&:hover,
&:focus {
        color: #ffffff;
        background-color: $color-hover;
    }

&:first-child {
    margin-left: 0;
}
}

&-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 50px;
    margin-bottom: 0;
}

&-element {
    position: relative;

    width: 370px;
    height: 404px;
    margin: 15px;

    overflow: hidden;

    border: 1px solid #eeeeee;
    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: $duration;
    transition-timing-function: $transmition-cubic;

&:hover,
&:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

&-link {
&:hover .portfolio-exile::after,
&:focus .portfolio-exile::after {
    content: '';
        transform: translateY(0);
        opacity: 1;
    } 
    
&:hover .description,
&:focus .description {
    transition-duration: $duration;
    transition-timing-function: $transmition-cubic;
    opacity: 1;
}
}

&-exile {
    position: relative;
    overflow: hidden;

&:after {
        content: '';
        display: flex;
        position: absolute;
        background-color: rgba(33, 150, 243, 0.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateY(100%);

        transition-property: transform, opacity;
        transition-duration: $duration;
        transition-timing-function: $transmition-cubic;
    }
}

.description {
    display: flex;
    align-items: center;
    top: 0;
    position: absolute;
    opacity: 0;

    padding: 0px 24px;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;
}

&-forma {
    width: 370px;
    height: 110px;
    padding: 24px 20px;
}

.main-text {
    color: $color-heading;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.paragraph {
    color: $color-auxiliary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
}
}